<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h3>Enter a question</h3>
        <h4>Question of the day</h4>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Name</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text"
              placeholder="Enter your name">
          </div>
          <div class="form-group">
            <label for="example-description">Answer</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description"
              placeholder="Enter your answer"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Top rated answers</h3>
        <ul id="example-list" class="list-group">
          {{#each users}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}" {{this.text}}</a> <a href="example/{{this.id}}">{{this.description}}</a>
            <button class="btn btn-info float-right like">like</button>
            <button class="btn btn-success float-right counter">0</button>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li {{/each}} </ul> </div> </div> </div> </div> <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
            </script>
          <script src="/js/index.js"></script>